<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Smart India Hackathon 2018 - Countdown Portal</title>
  <meta name="description" content="Smart India Hackathon - 2018 | Countdown Portal">
  <meta name="author" content="HELL Labs">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

</head>
<body>
  <!-- some random svg filters for experiment purpose  -->
  <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="blur-contrast">
        <feGaussianBlur in="SourceGraphic" stdDeviation="15" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="contrast" />
      </filter>
      <filter id="blur-contrast-composite">
        <feGaussianBlur in="SourceGraphic" stdDeviation="15" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="contrast" />
        <feComposite in="SourceGraphic" in2="contrast" operator="atop" />
      </filter>
    </defs>
  </svg> -->
  <div class="container">
    <div class="row">
      <div class="logo">
        <img src="images/logo.png" alt="smart india hackathon 2018 logo">
      </div>
      <div class="twelve column main-timer">
        <h5 class="center" ><span id="intro-text"> </span>in</h5>
          <!-- countdown timer code -->
          <div class="timer center">
            <span class="timings" id="main-timing">loading</span><span class="hours"> hrs</span>
          </div>
      </div>
    </div>
    <div class="row pre-footer center">
      <div class="four columns"><i class="ion-android-calendar"></i>&nbsp;<span id="date">loading</span></div>
      <div class="four columns u-pull-right"><i class="ion-android-time"></i>&nbsp;<span id="time">loading</span></div>
    </div>
    <footer class="center" id="foot" >
      <!-- <div class="slingy">
        <div class="circle"></div>
        <div class="circle"></div>
      </div> -->
      <span class="notification" id="alert"></span><span id="event-name">loading</span>
      <span id="time-left"></span>&nbsp;<span id="time-units"></span>
    </footer>
  </div>
  <script>
    var pTime = new Date(`<%= pTime  %>`);
  </script>
  <script src="./js/main.js"></script>
</body>
</html>
